<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title>備忘録</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<header>
<a href="index.html">TOPへ戻る</a>
</header>

<body>

<h2>css</h2>
	classの書き方
	<p>.(ドット)クラス名 {}
	<br>.sample {}

<h2>jQuery</h2>

	<h4>イベント</h4>
	イベント名:click change blur
	<br>	$('input').on('click', function() {}
	<br>	$('input').on('change blur', function() {}

	<br>idの場合、# $('#postCode').val()
	<br>classの場合、.(ドット) $('.postCode').val()

	<h4>使用メソッド一覧</h4>
	<li>val…値を取得</li>
	<li>prop…プロパティを取得、設定</li>

<h2>Vue.js</h2>
<li>セレクトボックスの書き方</li>
	性別
	<select id="sex" v-model="selected">
		<option v-for="option in options" v-bind:value="option.value">
			{{ option.text }}
		</option>
	</select>
	<br>
	血液型
	<select id="bloodType" v-model="bloodType.value">
		<option v-for="option in bloodType" :value="option.value">
			{{ option.text }}
		</option>
	</select>型

<br>
<br>
<li>テキストとボタン連動</li>
<div id="vue">
	郵便番号
	<input type="text" v-model="postCode" placeholder="入力で検索ボタン活性"/>
	<input type="submit" value="郵便番号検索" :disabled="postCode == ''">
	<br>
</div>

</body>
<footer>
<!-- scriptは↓に書く-->
<script type="text/javascript">

// 性別
new Vue({
	el: '#sex',
	data: {
    	selected: '1',
    	options: [
		  { text: ' ', value: ' ' },
		  { text: '男', value: '1' },
		  { text: '女', value: '2' },
		  { text: '非選択', value: '3' }
		]
	}
})

// 血液型
new Vue({
	el: '#bloodType',
	data: {
    	bloodType: [
		  { text: ' ', value: ' ' },
		  { text: 'A', value: '1' },
		  { text: 'B', value: '2' },
		  { text: 'O', value: '3' },
		  { text: 'AB', value: '4' }
		]
	}
})

new Vue({
  el: '#vue',
  data: {
	profession: [
		{ text: '', value: '' },
		{ text: '学生', value: '1' },
		{ text: '会社員', value: '2' },
		{ text: '個人事業主', value: '3' },
		{ text: '主婦・主夫', value: '4' },
		{ text: '無職', value: '5' },
		{ text: 'その他', value: '6' }
	],
    postCode: ''
  }
});

</script>
</footer>
</html>
