<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8"/>
	<title>登録画面</title>
	<link type="text/css" rel="stylesheet" href="css/regist.css" />
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
<header>
<a href="index.html">TOPへ戻る</a>
</header>

<form id="regist" name="" action="" method="post" @change="checkRegist()">
	<div class="centered">
	<table border="1">
	<caption>登録</caption>
		<tbody>
			<tr>
				<td class="req">氏名</td>
				<td colspan="4"><input type="text" id="fullName" name="fullName" v-model="fullName" style="width:100%;" placeholder="山田　太郎"></td>
			</tr>
			<tr>
				<td class="req">シメイ</td>
				<td colspan="4"><input type="text" id="fullNameKana" name="fullNameKana" v-model="fullNameKana" style="width:100%;" placeholder="ヤマダ　タロウ"></td>
			</tr>
			<tr @change="automaticCalculation">
				<td class="req">生年月日(年齢)</td>
				<td colsapn="4">
					<select id="birthDay_y" name="birthDay_y" v-model="birthDay_y.text">
						<option v-for="option in birthDay_y" :value="option.value">
							{{ option.text }}
						</option>
					</select>
					<select id="birthDay_m" name="birthDay_m" v-model="birthDay_m.text">
						<option v-for="option in birthDay_m" :value="option.value">
							{{ option.text }}
						</option>
					</select>
					<select id="birthDay_d" name="birthDay_d" v-model="birthDay_d.value">
						<option v-for="option in birthDay_d_slice" :value="option.value">
							{{ option.text }}
						</option>
					</select>
					<td>{{ age }}
					{{ sign }}
					{{ zodiac }}</td>
				</td>
			</tr>
			<tr>
				<td class="req">性別</td>
				<td><select id="sex" name="sex" v-model="sex.text">
					<option v-for="option in sex" :value="option.value">
						{{ option.text }}
					</option>
					</select>
				</td>
				<td>血液型</td>
				<td><select id="bloodType" name="bloodType" v-model="bloodType.text">
					<option v-for="option in bloodType" :value="option.value">
						{{ option.text }}
					</option>
					</select>型
				</td>
			</tr>
			<tr>
				<td class="req">郵便番号</td>
				<td colspan="2">
					<input type="text" id="postalCode" name="postalCode" v-model="postalCode" maxLength="8" minLength="8" placeholder="100-0014">
					<input type="button" id="searchPostCode" v-model="searchPostCode" :disabled="postalCode.value == ''" @click="serchPostalCode">
					<br><div style="font-size: 15px">
				</td>
			</tr>
			<tr>
				<td class="req">都道府県</td>
				<td><select id="prefecture" name="prefecture" v-model="prefecture.text">
					<option v-for="option in prefecture" :value="option.value">
						{{ option.text }}
					</option>
					</select>
				</td>
				<td class="req">市区町村</td>
				<td colspan="3"><input type="text" id="municipality" name="municipality" v-model="municipality" placeholder="千代田区"></td>
			</tr>
			<tr>
				<td class="req">番地</td>
				<td><input type="text" id="address" name="address" v-model="address" placeholder="永田町1-7-1"></td>
				<td>アパート<br>マンション名等</td>
				<td colspan="3"><input type="text" id="apartment" name="apartment" v-model="apartment" placeholder="国会議事堂"></td>
			</tr>
			<tr>
				<td class="req">電話番号</td>
				<td><input type="text" id="phoneNumber" name="phoneNumber" v-model="phoneNumber" maxLength="13" placeholder="080-1111-2222"></td>
			</tr>
			<tr>
				<td>職業</td>
				<td><select id="profession" name="profession" v-model="profession.text">
					<option v-for="option in profession" :value="option.value">
						{{ option.text }}
					</option>
					</select>
				</td>
			</tr>
		</tbody>
	</table>
	<input type="submit" v-model="registExe" id="registExe" value="登録する" class="centeredFont16" :disabled="isRegist">
	</div>
<br>
<br>
<input type="button" value="必須項目設定" @click="setRequired">
<input type="reset" value="Reset">
</form>

<br>
<footer>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/regist_Vue.js" type="text/javascript"></script>

	<h4>実装した機能</h4>
	<ul style="font-size: 15px">
		<li>自動計算(年齢、星座、十二支)
		<li>年月日制御(月ごとの日の考慮、閏年)</li>
		<li>郵便番号検索(REST API)</li>
		<li>活性制御(郵便番号入力で郵便番号検索ボタン活性、必須項目入力で登録ボタン活性)</li>
		<li>必須項目をとりあえず設定してくれるボタン</li>
		<li>リセットボタン</li>
	</ul>

	<h4>実装予定の機能</h4>
	<ul style="font-size: 15px">
		<li>電話番号のハイフンを自動で付与する(編集時はハイフン削除する)</li>
	</ul>

	<h4>課題</h4>
	<ul style="font-size: 15px">
		<li>レイアウト調整</li>
	</ul>

	<h4>発生したバグ</h4>
	<ul style="font-size: 15px">
		<li>メソッド内にthisありなしを混在させた場合thisなしが設定されない。全部thisありにして解決</li>
		<li>生年月日の月が1の場合先に-1してしまっていたため、結果が1つずつずれていた。※原因は判定条件の0をfalse判定していた</li>
	</ul>

	<h4>スタイル</h4>
	<ul style="font-size: 15px"></ul>
		<li>[登録する]ボタンのクラスを作成 class="centeredFont16"</li>
		<li>必須項目クラスを作成 class="req"</li>
	</ul>

</footer>
</body>
</html>
